.bvMedia{
	margin-bottom:120px !important;
}
.bvVideo{
	font-family:sans-serif;
	position:relative;
	width:100%;
	height:100%;
	background: -moz-linear-gradient(top, #8C8C8C 0%, #DBDBDB 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8C8C8C), to(#DBDBDB));
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align:center;
	overflow:hidden;
}
#bvVideoPreview{
	position:absolute;
}
.bvScreenPlayButton{
	width:100px;
	height:100px;
	position:absolute;
	z-index:200;
	margin:-50px 0 0 -50px;
	top:50%;
	left:50%;
}
.bvScreenPlayButton.Muted{
	background-position:-4px -494px;
	width:110px;
}
.bvScreenPlayButton.Muted:hover{
	background-position:-124px -494px;
}
.bvErrorScreen{
		position:absolute;
		z-index:210;
		width:320px;
		height:240px;
		top:20px;
		left:50%;
		padding:5px;
		margin-left:-160px;
		background:#333;
		border:5px solid #dd0000;
		color:#fff;
		box-shadow:10px 10px 10px rgba(0,0,0,.5);
		-moz-box-shadow:10px 10px 10px rgba(0,0,0,.5);
		-webkit-box-shadow:10px 10px 10px rgba(0,0,0,.5);
	}
	.bvErrorScreenTitle{
		font-size:24px;
		font-weight:bold;
		margin-bottom:10px;
	}
	.bvErrorScreenDesc{
		text-align:left;
		padding:5px;
		font-size:13px;
	}
.bvControls{
		position:absolute;
		z-index:300;
		bottom:0px;
		left:0px;
		font-size:12px;
		font-family:sans-serif;
		color:#fff;
		 
	}
	#bvControlBar, .bvControls{
		width:100%;
		height:32px;
		line-height:12px;
	}
	#bvControlBar{
		border-width:1px 0 0 0;
		border-collapse:collapse;
	}
	#bvControlBar tr, #bvControlBar td{
		vertical-align:middle;
	}
	.bv_fflt4 #bvControlBar, .bv_fflt4 .bvVolumePopup{
		background-color:#666;
	}
#bvControlBar, .bvVolumePopup{
	border:1px solid #fff;
	background: -moz-linear-gradient(left, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,.5)), color-stop(1, rgba(0,0,0,.5)));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#80000000, endColorstr=#80000000, gradientType=1);
}
.bvBtn, .bvBtnSm{
	border: 0px solid #fff;
	padding:0;
}
.bvBoxStretch, .bvBoxSm, .bvBox, .bvBoxSlider, .bvBtn, .bvBtnSm{
	height:32px;
}
.bvBtn, .bvBox{
	width:35px;
}
.bvBtnSm, .bvBoxSm{
	width:22px;
}
.bvBoxSlider{
	width:140px;
}
.bvBoxEnd{
	width:10px;
}
.bvVolume{
	position:relative;
}
.bvSlider{
	height:7px;
	background:#eee;
	position:relative;
	margin:0 10px;
}
.bvDownloaded{
	background:#8ea7b4;
	width:0%;
	height:7px;
	position:absolute;
	top:0px;
	left:0px;
}
.bvProgress{
	background:#098dd7;
	width:0%;
	height:7px;
	position:absolute;
	top:0px;
	left:0px;
}
.bvProgressLft{
	width:1px;
	height:5px;
	background:#098dd7;
	position:absolute;
	top:1px;
	left:-1px;
}
.bvProgressRgt{
	width:1px;
	height:5px;
	background:#eee;
	position:absolute;
	top:1px;
	right:-1px;
}
.downloaded .bvProgressRgt{
	background:#8ea7b4;
}
.bvHandle{
	width:15px;
	margin-left:-8px;
	height:15px;
	position:absolute;
	left:0px;
	top:-4px;
	cursor:pointer;
}
.bvVolumePopup{
		width:25px;
		height:85px;
		position:absolute;
		bottom:34px;
		right:5px;
		display:none;
	}
	.bvVolumePopup .bvSlider{
		width:5px;
		height:65px;
		margin:10px auto;
		background-color:#eee;
	}
	.bvVolumePopup .bvProgress{
		width:5px;
		height:0%;
		background-color:#ccc;
	}
	.bvVolumePopup .bvProgressLft{
		width:3px;
		height:1px;
		top:-1px;
		left:1px;
		background-color:#ccc;
	}
	.bvVolumePopup .bvProgressRgt{
		width:3px;
		height:1px;
		left:1px;
		top:100%;
		background-color:#eee;
	}
	.bvVolumePopup .bvHandle{
		margin-left:-4px;
		margin-top:-4px;
	}
.bvDuration, .bvTime{
	color:#fff;
	font-size:12px;
}
.bvTime{}
.bvDuration{}
.bvControlLabel{
	color:#abdaf8;
	padding-top:4px;
}
.bvMediaTray{
	border:1px solid #eee;
	border-top:0;
	overflow:hidden;
	position:relative;
	height:100px;
	padding-top:15px;
	background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
	background-image: -webkit-gradient(linear, left top, top right, color-stop(0, #ffff00), color-stop(1, #f7f7f7));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#ffffffff, endColorstr=#fff7f7f7);
}
.bvMediaTray.panorama{
	height:84px;
}
.bvMediaFocusNode{
	position:absolute;
	top:0px;
	left:0px;
	font-size:0px;
	width:0px;
	height:0px;
	outline:0;
	border:0;
}
.bvMediaTrayScroller{
	overflow-x:hidden;
	overflow-y:hidden;
	overflow:hidden;
	margin:0px 30px 0px 30px;
	zoom:1;
	position:relative;
}
.bvMediaTrayList{
	position:relative;
	outline:0;
}
.bvMediaTrayNav{
	position:absolute;
	top:0px;
	width:24px;
	height:115px;
	cursor:pointer;
	z-index:300;
}
.panorama .bvMediaTrayNav{
	height:100px;
}
.bvMediaTrayNav.leftBtn{
	left:2px;
}
.bvMediaTrayNav.rightBtn{
	right:2px;
}
.bvMediaTrayArrowIcon{
	background-repeat:no-repeat;
	cursor:pointer;
	width:22px;
	height:26px;
	position:relative;
	top:50%;
	margin-top:-13px;
}
.bvMediaTrayNav.leftBtn .bvMediaTrayArrowIcon{
	background-position:-11px -164px;
}
.bvMediaTrayNav.leftBtn:hover .bvMediaTrayArrowIcon{
	background-position:-60px -164px;
}
.bvMediaTrayNav.rightBtn .bvMediaTrayArrowIcon{
	background-position:-37px -164px;
	left:3px;
}
.bvMediaTrayNav.rightBtn:hover .bvMediaTrayArrowIcon{
	background-position:-87px -164px;
}
.bvMediaTrayItem{
	position:absolute;
	display:block;
	margin:0;
	padding:0;
	cursor:pointer;
	border:1px solid #ccc;
	background:#fff;
}
.bvThumbPlaceholder{
	background:#ccc;
	background: -moz-linear-gradient(top, #BFC6C9 0%, #f7f7f7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BFC6C9 ), to(#f7f7f7));
}
.bvMediaTrayItem img{
	display:none;
}
.bvMediaTrayItem.selected img{
	opacity:.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 30);
}
.bvMediaTrayItem.selected:hover img{
}
.bvMediaTrayIcon{
	margin:0;
	padding:0;
	position:absolute;
	bottom:1px;
	left:1px;
	width:22px;
	height:22px;
}
.bvMediaTrayItem.video:hover .bvMediaTrayIcon{
	background-position:-121px -166px;
}
.bvMediaTrayItem.photo .bvMediaTrayIcon{
	background-position:-10px -557px;
}
.bvMediaTrayItem.photo:hover .bvMediaTrayIcon{
	background-position:-67px -557px;
}
.bvMediaTrayItem.vtour .bvMediaTrayIcon{
	height:30px;
	width:52px;
	margin-left:-26px;
	margin-top:-15px;
	background-position:-11px -601px;
}
.bvMediaTrayItem.vtour:hover .bvMediaTrayIcon{
	background-position:-69px -606px;
}
.bvOverlayBody{
	overflow:hidden;
}
.bvOverlay{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.3);
	position:fixed;
	top:0;
	left:0;
	z-index:500;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#80000000, endColorstr=#80000000);
}
.bvLightbox{
	width:840px;
	margin-left:-420px;
	height:650px;
	position:absolute;
	top:30px;
	left:50%;
	z-index:510;
	background:#fff;
	-moz-box-shadow: rgba(0,0,0,.6) 0px 0px 30px;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 0px 30px;
	box-shadow: rgba(0,0,0,.6) 0px 0px 30px;
}
.bv_ielt9.bvLightbox{
	border:2px solid #ccc;
	border-color:#eee #999 #666 #ccc;
}
.bvStretchy{
	width:95%;
	height:95%;
	top:0;
	left:0;
	margin:1.5% 2.5%;
}
.bvLightboxClose{
	position:absolute;
	right:-20px;
	top:-20px;
	width:40px;
	height:40px;
	cursor:pointer;
}
.bvLightboxClose:hover{
	background-position:-52px -66px;
}
.bvSocialDock{
	width:32px;
	height:180px;
	border:0px solid #666;
	position:absolute;
	left:5px;
	top:5px;
	z-index:250;
	-webkit-transition: left 500ms ease;
	-moz-transition: left 800ms ease;
}
.bvSocialButton{
	position:relative;
	width:32px;
	height:32px;
	margin-bottom:3px;
	-webkit-box-shadow:3px 3px 3px rgba(0,0,0,.6);
	box-shadow:3px 3px 3px rgba(0,0,0,.6);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.hidden.bvSocialButton{
	left:-40px;
	color:#fff000;
}
.bvSocialButton:active{
	-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.6);
	-moz-box-shadow:2px 2px 3px rgba(0,0,0,.6);
	top:1px;
	left:1px;
}
.bvTransContainer{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:600;
	background:url(clear-pixel.gif);
	background:rgba(100,100,100,.9); 
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#ee636363, endColorstr=#ee636363);
}
.bvForm{
	width:100%;
	height:100%;
	text-align:left;
	position:absolute;
	top:0;
	left:0;
	z-index:301;
}
.bvFormTitle, .bvFormClose, .bvFormSend{
	height:20px;
	line-height:23px;
}
.bvFormRow{
	margin-bottom:5px;
	width:100%;
	padding-right:5px;
	border:0px solid #eee;
	height:20px;
	position:relative;
}
.bvFormRow input{
	margin:0; padding:0;
	height:20px;
}
.bvFormRow textarea{
	margin:0; padding:0;
	height:100%;
}
.bvFormRow input, .bvFormRow textarea{
	position:absolute;
	left:150px;
	top:0;
	width:100%;
	background:#DBDBDB;
	border:1px solid;
	border-color:#3D3D3D #CCCCCC #EDEDED #6B6B6B;
	-moz-box-shadow:2px 2px 3px rgba(0,0,0,.9) inset;
	-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.5) inset;
	box-shadow:2px 2px 3px rgba(0,0,0,.5) inset;
}
.bvFormRow input:focus, .bvFormRow textarea:focus{
	outline:none;
	background:#fff;
}
.bvFormTitle{
	color:#fff;
	font-size:18px;
	font-weight:bold;
	padding:5px;
	margin:0 30px 20px 0;
}
.bvFormClose{
	position:absolute;
	top:5px;
	right:5px;
	width:20px;
	cursor:pointer;
	color:#fff;
	text-align:center;
	border:1px solid #fff;
	border-color:#540000 #D8A6A6 #EADCDC #965454;
	background: -moz-linear-gradient(top, #f45a5a 0%, #ba1010 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f45a5a), to(#ba1010));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FFf45a5a, endColorstr=#FFba1010);
}
.bvFormClose:hover{
	background: -moz-linear-gradient(top, #fca2a2 0%, #ba1010 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fca2a2), to(#ba1010));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FFfca2a2, endColorstr=#FFba1010);
}
.bvFormSend{
	position:absolute;
	right:5px;
	bottom:5px;
	width:60px;
	color:#fff;
	text-align:center;
	border:1px solid #fff;
	cursor:pointer;
	background:url(clear-pixel.gif);
	border-color:#005101 #A9D6A4 #DEE8DC #539352;
	background: -moz-linear-gradient(top, #68f49d 0%, #23ae57 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#68f49d), to(#23ae57));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FF68f49d, endColorstr=#FF23ae57);
}
.bvFormSend:hover{
	background: -moz-linear-gradient(top, #f0fa9e 0%, #23ae57 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0fa9e), to(#23ae57));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FFf0fa9e, endColorstr=#FF23ae57);
}
.bvFormRow .label, .bvFormRow input{
	display:-webkit-box;
}
.bvFormRow .label{
	width:150px;
	padding-left:20px;
	color:#fff;
}
textarea.bvEmbedTA{
	display:block;
	margin:5px;
	padding:3px;
}
.bvFormRow input, .bvFormRow textarea{
	margin-right:5px;
	padding-left:5px;
}
.bvCopyLabel{
	color:#E5E5E5;
	font-weight:normal;
	font-size:12px;
	line-height:22px;
}
.bvFormError{
	position:absolute;
	left:5px;
	bottom:5px;
	width:230px;
	font-size:12px;
	color:#dd0000;
	padding:4px;
	background:#FCCFCF;
	border:1px solid #dd0000;
}
html, body{
	font-family:Arial;
	margin:0;
	padding:0;
	background:#E0E0E0;
	width:100%;
	height:100%;
	overflow:auto;
}
body.claro{
	font-size:.9em;
}
#loading{
	background:url(../img/preloader.gif) no-repeat top center;
	height:64px;
	margin-top:50px;
}
.claro .dijitMenu table{
	font-size:.8em;
}
header, nav, #mainWrap, #main{
	display:block;
	margin:0;
	padding:0;
	position:relative;
}
menu{
	display:inline-block;
	margin:0;
	padding:0;
}
li{
	margin:10px;
}
a{
	color:#003FA5;
}
dl, dd, dt{
	padding:0;
	margin:0;
}
a:visited{
	color:#003FA5;
}
fieldset{
	position:relative;
}
.dijitSelect{
	margin:0;
}
.sect{
	margin-bottom:10px;
	position:relative;
}
.note{
	font-size:.7em;
	color:#666;
	font-style:italic;
}
.warning{
	font-size:1.2em;
	color:#dd0000;
	padding:3px;
}
#loading {
	font-size:200%;
	color:black;
	text-align:center;
	margin-top:20%;
}
#loading .pacifier {
	display:inline-block;
	margin-left:10px;
	width:20px;
	height:20px;
	background-image:url("../../dijit/themes/tundra/images/treeExpand_loading.gif");
}
.appMenu{
	background:#eee;
	background: -moz-linear-gradient(top, #F4F4F4 0%, #E0E0E0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E8E8E8));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FFFFFFFF, endColorstr=#FFE8E8E8);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,.4);
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,.4);
	box-shadow: 0px 3px 5px rgba(0,0,0,.4);
	border:1px solid #B7B7B7;
	border-left:0;
	border-right:0;
	position:relative;
	font-size:.8em;
	padding:2px 0;
	height:40px;
}
menu{
	display:block;
	float:left;
	height:32px;
	line-height:32px;
	border-left:1px solid #fff;
	border-right:1px solid #ccc;
	padding:4px 8px 4px 37px;
	cursor:pointer;
}
menu.selected{
	background-color:#fff;
}
menu:hover{
	background-color:#fff;
}
#pageWrapper{
	position:relative;
	margin:0 auto;
	min-height:100%;
	min-width:650px;
	padding-bottom:0px; 
}
.pageFooter{
	position:absolute;
	bottom:0px; 
	width:100%;
	height:35px;
	background:#666;
	color:#fff;
}
.pageFooter p{
	text-align:center;
	padding:0;
	margin:10px 0 0 0;
}
#mainWrap.hasTabs { position: relative; top: auto; margin-top: 50px; }
#pageWrapper {  padding-bottom: 45px; min-height: 94%; }
.pageFooter { bottom: 0px;}
#mainWrap{
	background:#fff;
	margin:10px 10px 100px 10px;
	border:1px solid #828282;
	padding:10px;
}
.appViewHeader{
}
.appViewHeader.hasContent{
	display:block;
	height:40px;
}
.appGrid{
	border:1px solid #333;
	
	border-collapse:separate;
	width:100%;
	margin:10px auto 50px auto;
	text-align:left;
}
.appGrid tfoot td{
	margin:0; padding:1px;
}
.appGrid th{
	border:1px solid;
	border-color:#FFFFFF #829CBF #8B9099 #FFFFFF;
	font-weight:normal;
	color:#fff;
	padding:0px;
	text-align:left;
	white-space:nowrap;
	font-size:.8em;
}
.appGrid th .colSelected{
}
.appGrid th .colSelected a{
}
.appGrid td .colSelected{
	background:#E3EEFF;
}
.appGrid th .wrap{
	position:relative;
	padding:3px;
}
.appGrid th .dijitSelect{
	position:absolute;
	top:5px;
	right:4px;
}
.appGrid th .dijitButtonContents{
	display:none;
}
.appGrid th .dijitSelect .dijitArrowButton .dijitArrowButtonInner{
	background-position:-38px 70%;
	width:11px;
	height:10px;
}
.appGrid th a{
	text-decoration:none;
	white-space:nowrap;
}
.appGrid th a:hover{
	text-decoration:underline;
}
.appGrid th span.sortable{
	padding:0 6px;
	margin-left:4px;
	background-image:url(../img/arrows.png);
	background-repeat:no-repeat;
	background-position:20px -5px;
}
.appGrid th span.sortable.descend{
	background-position:-16px 0px;
}
.appGrid th span.sortable.ascend{
	background-position:1px 0px;
}
.appGrid th.filtered span.filter{
	margin-left:4px;
	background-image:url(../img/arrows.png);
	background-repeat:no-repeat;
	background-position:-115px -1px;
	padding:0 9px;
}
.appGrid td{
	border:1px solid;
	border-color:#FFFFFF #829CBF #CFD9E7 #FFFFFF;
	font-size:.8em;
	padding:2px 5px;
	font-family:Arial;
	overflow:hidden;
}
.appGrid .gridFooter{
	position:relative;
	height:30px;
	line-height:30px;
	text-align:center;
}
.appGrid .pagiNumbers{
	position:absolute;
	left:5px;
	top:0px;
}
.appGrid .pagiNumbers span{
	background:none;
	color:#666;
	padding:0 3px;
	cursor:pointer;
}
.appGrid .pagiNumbers b{
	background:none;
	padding:0 3px;
	color:#000;
}
.appGrid .pagiNumbers span:hover{
	background:#0000ff;
	color:#fff;
}
.appGrid .pagiSelectedItemsDisplay{
	position:absolute;
	right:60px;
	top:0px;
}
.appGrid .arrow{
	background-image:url(../img/arrows.png);
	background-position: 0px 0px;
	background-repeat:no-repeat;
	padding:0 10px;
	cursor:pointer;
}
.appGrid .arrow.left{
	background-position: -33px -3px;
	margin-right:5px;
}
.appGrid .arrow.right{
	background-position:-53px -3px;
	margin-left:5px;
}
.appGrid .arrow.right:hover{
	background-position:-95px -3px;
}
.appGrid .arrow.left:hover{
	background-position:-75px -3px;
}
.appGrid .noResultsMessage{
	font-size:16px;
	font-style:italic;
	padding:20px;
}
.appGrid tr.rowHover{
	cursor:pointer;
}
.appGrid tr.rowHover:hover{
	background:#EFF9FC;
}
.appGrid tr.rowSelected{
	cursor:default;
	background:#ffff00;
}
.appGridSubNav{
	position:relative;
}
.appGridSubNav a{
	font-size:.7em;
	padding-left:5px;
	position:relative;
	top:5px;
}
.appGridContainer .busyBar{
	background:url(../img/progressBarAnim.gif);
	position:absolute;
	width:300px;
	height:15px;
	margin-left:-100px;
	left:50%;
	top:2px;
	text-align:center;
	font-size:12px;
	font-style:italic;
	border:2px solid #fff;
	border-color:#eee #6C768E #343C68 #AFBCDB;
}
.appHideFooter{
	display:none;
}
.itemStatus0{
	background-color:#ffffff;
}
.itemStatus1{
	background-color:#D3FFDA;
}
.itemStatus2{
	background-color:#FFFFD8;
}
.itemStatus3{
	background-color:#FFEAD8;
}
.itemStatus4{
	background-color:#FFD9D8;
}
.itemStatus5{
	background-color:#E5FEFF;
}
.appMng{
	text-align:center;
}
.appMng .column{
	width:250px;
	border:0px solid #ccc;
	margin:5px;
	display:inline-block;
}
.colHeader{
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
}
.btnBlock{
	display:block;
}
.appMng .column .btnBlock .dijitButtonNode{
	width:200px;
}
.billingContent{
	text-align:center;
}
.billing.column{
	display:inline-block;
	width:90px;
}
.billing.column div{
	cursor:pointer;
	text-align:left;
}
.billing.column .icon, .billing.column .code{
	display:inline-block;
}
.billing.column .icon{
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.billing.column .icon:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.appListing{
	padding:5px 50px;
}
.appListingTable{
	width:100%;
	margin-bottom:40px;
}
.appListingWidget{
	border:0px solid #ccc;
	vertical-align:top;
	position:relative;
}
.appListingDetailDecor{
	border:1px solid #ccc;
}
.appListingDetail{
	width:320px;
	font-size:.8em;
	line-height:1.5em;
	vertical-align:top;
}
.appListingDetail .head{
	font-weight:bold;
	font-size:1.2em;
}
.appListingDetail .norm{
	font-weight:normal;
}
.appListingDetail .head, .appListingDetail .sect{
	padding:5px;
	position:relative;
}
.detailRow{
	padding-bottom:5px;
	line-height:1.2em;
}
.appListingButtons{
	background-color:#e1e1e1;
}
.appListingDetail dt, .appListingDetail dd{
	display:inline-block;
	margin:0;
	padding:0;
	border:0px solid #eee;
}
.appListingDetail dt{
	width:110px;
	color:#666;
}
.appListingDetail dd{
	width:190px;
	overflow:hidden;
}
.appListingHeader{
	background-color:#E1EDF4;
}
.appListingStatus{
	background-color:#0C618E;
	color:#fff;
}
.appListingDetail .appListingStatus .head{
	font-weight:normal;
}
.appListingWorkflowError{
	background:#FFE0E0;
	color:#8E0000;
	padding:10px;
}
.appScriptVO{
	padding:10px 50px;
}
.appVoHeader{
	background-color:#DDDDDD;
	padding:5px;
}
.appVoHeader td:first-child{
	text-align:left;
}
.appVoHeader dt, .appVoHeader dd{
	display:inline-block;
}
.appVoHeader dt{
	width:140px;
}
.appVoHeader dd{
	font-weight:bold;
}
.appVoEditor{
}
.appVoComments textarea{
	width:100%;
}
.appVoVersions a, .appVoVersions span{
	display:block;
	font-size:.8em;
}
.appVoVersions span{
	font-style:italic;
}
.appVoBtn{
	text-align:right;
}
.appWorkflow{
	text-align:center;
	padding:10px 3px;
}
.appWorkflowRow{
	margin:3px 5px 5px 5px;
	padding-bottom:5px;
	border-bottom:1px solid #7F7F7F;
}
.appWorkflowRow .dijitSelect .dijitButtonContents{
	width:120px;
}
.appWorkflow .dijitSelect{
	margin-right:4px;
}
.appWorkflow .dijitButton .dijitButtonNode{
	min-width:100px;
	padding:2px 5px;
}
.appEvents{
}
.appEvents .special,
.appEvents .system,
.appEvents .comment,
.appEvents .status,
.appEvents .coordination,
.appEvents .production,
.appEvents .communication{
	border:1px solid #A5A5A5;
	padding:7px;
	font-size:.8em;
	margin-bottom:5px;
	display:none;
}
.appEvents .group{
	margin:3px 0px 2px 69px;
	padding:4px;
	line-height:1.4em;
}
.appEvents.d_special .special,
.appEvents.d_comment .comment,
.appEvents.d_system .system,
.appEvents.d_status .status,
.appEvents.d_coordination .coordination,
.appEvents.d_production .production,
.appEvents.d_communication .communication{
	display:block;
}
.appEvents .special, .lbl_special{
	background-color:#FFE8E8;
}
.appEvents .system, .lbl_system{
	background-color:#FAD3FF;
}
.appEvents .comment, .lbl_comment{
	background-color:#fff;
}
.appEvents .status, .lbl_status{
	background-color:#EEEEFF;
}
.appEvents .communication, .lbl_communication{
	background-color:#E0FFEA;
}
.appEvents .coordination, .lbl_coordination{
	background-color:#FBFFE0;
}
.appEvents .production, .lbl_production{
	background-color:#E4FFE0;
}
.appEvents author{
	font-weight:normal;
	font-style:italic;
	padding-left:10px;
	color:#666;
}
.appEvents .coordination author{
	padding:0;
}
.appEvents .coordination a{
	font-size:.8em;
}
.appEvents .comment author{
	font-weight:bold;
	font-style:normal;
	color:#333;
}
.appEvents dt{
	display:inline-block;
	float:right;
	color:#333;
}
.appEvents .special dt, .appEvents .comment dt{
	font-weight:bold;
}
.appEvents .special dt{
	float:none;
}
.appEvents .comment dt{
}
.appEvents dd{
	display:inline;
}
.appEvents .special dd, .appEvents .comment dd{
	display:block;
	padding:10px 10px 0 20px;
}
.appEvents .system dd em{
	font-style:italic;
	font-weight:bold;
	color:#7A0000;
}
.appEvents .childevent{
	border-top:1px solid #A5A5A5;
	margin-top:8px;
	padding-top:5px;
}
.appEventFilters{
	font-size:.8em;
	margin:20px 0;
	position:relative;
}
.appEventFilters label{
	padding:0 4px 0 10px;
}
.commentEmailOptions{
	padding-left:20px;
}
.appListingCommentOptions{
	font-size:.8em;
}
.appListingCommentOptions .dijitInputInner{
	padding:0 3px;
	font-size:10px;
}
.claro .appListingComment .commentEmailOptions .dijitCheckBox{
	margin:0 1px 0 10px;
}
.appListingComment textarea{
	width:100%;
	height:150px;
}
.appListingProperty{
	padding:5px 50px;
}
.appListingProperty h3{
	font-size:1.1em;
}
.appListingProperty h4{
font-size:1em;
padding-left:20px;
}
.appListingProperty p, .appListingProperty ul{
	padding-left:40px;
	font-size:.9em;
}
.appListingProperty li{
	margin:0 0 5px 10px;
}
.appListingProperty .features span{
	display:inline-block;
	width:350px;
}
.appListingProperty .amenities span{
	display:inline-block;
	width:220px;
}
.appListingProperty .xattributes div{
	margin-bottom:10px;
	position:relative;
	font-size:13px;
}
.appListingProperty .xattributes span{
	display:block;
	margin-left:165px;
}
.appListingProperty .xattributes label{
	position:absolute;
	top:0px;
	left:0px;
	color:#666;
}
.appPreview{
	text-align:center;
	margin-top:20px;
}
.appPreview .downloadLink{
	display:block;
	margin:10px auto;
}
.appPreview img{
}
.appPlayerLinks{
	padding-bottom:10px;
}
.appPlayerLinks .icon{
	display:inline-block;
	margin-right:3px;
	top:3px;
	left:-2px;
}
.appPlayerLinks label{
	display:inline-block;
	width:100px;
}
.appPlayerLinks div{
	margin-bottom:5px;
}
.appPlayerInfo a{
	font-size:.9em;
}
.appPlayerInfo{
	padding:5px;
	border:1px solid #ccc;
	width:630px;
	margin:20px auto 10px auto;
	font-size:.8em;
	text-align:left;
	position:relative;
	background:#EFF8FC;
}
.appPlayerInfo.error{
	font-size:14px;
	font-weight:bold;
}
.appPlayerMeta{
	display:inline-block;
	width:150px;
	height:125px;
	border:0px solid #0000ff;
	vertical-align:top;
	padding:3px;
	color:#666;
}
.appPlayerMeta.thumb{
	border:1px solid #ccc;
	background:#eee;
	text-align:center;
}
.appPlayerMeta.thumb img{
	border:1px solid #ccc;
	margin-top:20px;
}
.appPlayerMeta label{
	display:inline-block;
	width:100px;
}
.appAdvertiser{
	width:420px;
	margin:0 auto 10px auto;
}
.appSearch{
	display:block;
	position:absolute;
	right:10px;
	top:-1px;
}
.appSearchFilters{
	display:block;
	position:absolute;
	right:210px;
	top:15px;
	width:150px;
	text-align:right;
	font-size:1.2em;
}
.appSearchEnter, .appSearchClose, .appSearchButton, .appSearch input, .appSearchSingle{
	padding:0;
	margin:0;
	border:0;
	display:inline-block;
	height:24px;
	background-image:url(../img/searchSprite.png);
	vertical-align:bottom;
}
.appSearchSingle{
	background-position:-18px -240px;
	width:12px;
	margin-top:12px;
}
.appSearchEnter, .appSearchClose{
	margin-top:12px;
}
.appSearch input{
	background-repeat:repeat-x;
	width:154px;
	color:#333;
	font-style:normal;
	outline:none;
}
.appSearchEnter{
	width:30px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.appSearch.Campaigns .appSearchEnter{
	background-position:0px -192px;
}
.appSearch.Campaigns .appSearchEnter:hover{
	background-position:0px -216px;
}
.appSearch.Videos .appSearchEnter{
	background-position:0px -144px;
}
.appSearch.Videos .appSearchEnter:hover{
	background-position:0px -168px;
}
.appSearch.PressReleases .appSearchEnter{
	background-position:0px -264px;
}
.appSearch.PressReleases .appSearchEnter:hover{
	background-position:0px -288px;
}
.appSearchButton{
	width:24px;
	background-repeat:no-repeat;
	background-position:0px -120px;
	cursor:pointer;
}
.appSearchButton:hover{
	background-position:0px -120px;
}
.canSearch .appSearchButton{
	background-position:0px -72px;
}
.canSearch .appSearchButton{
	background-position:0px -96px;
}
.canDelete .appSearchButton{
	background-position:0px -24px;
}
.canDelete .appSearchButton:hover{
	background-position:0px -48px;
}
.appSearch input.placeholder{
	color:#ccc;
	font-style:italic;
}
.appSearchMenu{
	position:absolute;
	top:38px;
	left:1px;
	z-index:1000;
	font-size:13px;
	border-width:1px;
	border-style:solid;
	border-color:#eee #999 #666 #ccc;
	background:#fff;
}
.appSearchMenuItem{
	height:24px;
	margin:3px;
	padding:2px;
	cursor:pointer;
}
.appSearchMenuItem:hover{
	background:#D1F2FF;
}
.appSearchMenuItem span{
	display:block;
	float:left;
	line-height:24px;
	height:24px;
}
.appSearchMenuIcon{
	background-repeat:no-repeat;
	background-image:url(../img/searchSprite.png);
	width:24px;
	margin-right:5px;
}
.appSearchMenuText{
}
.appSearchMenuItem.Campaigns .appSearchMenuIcon{
	background-position:0px -367px;
}
.appSearchMenuItem.Videos .appSearchMenuIcon{
	background-position:0px -346px;
}
.appSearchMenuItem.PressReleases .appSearchMenuIcon{
	background-position:0px -392px;
}
.appSearch.Campaigns .appSearchMenuItem.Campaigns,
.appSearch.PressReleases .appSearchMenuItem.PressReleases,
.appSearch.Videos .appSearchMenuItem.Videos{
	font-weight:bold;
}
.appSearchClose{
	width:24px;
	background-repeat:no-repeat;
	background-position:0px -24px;
	cursor:pointer;
}
.appSearchClose:hover{
	background-position:0px -48px;
}
.appDialogContent{
	min-width:320px;
}
.filterDialogContent{
	width:600px;
}
.filterDialogContent .column{
	width:300px;
}
.filterDialogContent fieldset{
	border:1px solid #ccc;
	margin-bottom:3px;
	padding:3px;
}
.filterDialogContent label{
	display:inline-block;
	width:250px;
	padding-left:5px;
}
.ovItem{
	margin-bottom:4px;
	font-size:.9em;
}
.ovCountLabel{
	display:inline-block;
	width:40px;
	text-align:right;
	padding-right:10px;
}
.textareaDialog{
	width:580px;
	height:320px;
	color:#666;
	padding:3px;
}
.appVODialogGrid{
	width:640px;
	min-height:200px;
}
.appPrintDialog{
	width:750px;
	min-height:400px;
}
.appEditContent{
	width:300px;
}
.appEditContent label{
	display:inline-block;
	width:75px;
}
.appEditContent label, .appEditContent .dijitTextBox{
	margin-bottom:5px;
}
.appUserContent{
	width:640px;
}
.appUserContent label{
	display:inline-block;
	width:75px;
	text-align:right;
}
.appUserContent label, .appUserContent .dijitTextBox{
	margin-bottom:5px;
}
.appUnderlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	z-index:999;
}
.appLoginDialog{
	width:400px;
	margin-left:-200px;
	margin-top:-115px;
	background:#eee url(../img/BVLogoHeader.png) no-repeat center 10px;
	position:absolute;
	left:50%;
	top:50%;
	z-index:1000;
}
.appLoginContainer{
	width:320px;
	margin:70px auto 10px auto;
}
.appLoginContainer label{
	display:inline-block;
	width:100px;
	margin-bottom:10px;
}
.appLoginContainer p{
	text-align:center;
}
.appLoginContainer a{
	font-size:.8em;
}
.MainMenu{
	background:#eee;
	border:1px solid #828282;
	border-left:0;
	border-right:0;
	position:relative;
	font-size:.8em;
	padding:3px 0;
	height:40px;
}
menu{
	display:block;
	float:left;
	height:32px;
	line-height:32px;
	border-left:1px solid #fff;
	border-right:1px solid #ccc;
	padding:4px 8px 4px 37px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:4px 6px;
	background-color:#eee;
	background-image:url(../img/tabIcons.png);
}
menu:hover{
	background-color:#fff;
}
.appTabs li{
	background-repeat:no-repeat;
	background-position:4px 6px;
	background-color:#eee;
	background-image:url(../img/tabIcons.png);
}
.appTabs li.selected, .appTabs li.selected:hover,.appTabs li:hover{
	background-color:#fff;
}
.appTabs li.selected{
	font-weight:bold;
}
.appTabs, .appTabs li{
	height:35px;
	line-height:35px;
}
.appTabs li.selected{
	height:37px;
}
.appTabs li{
	display:inline-block;
	margin:0;
	padding:0 5px 0 35px;
	border:1px solid #B2B2B2;
	border-bottom-color:#828282;
	position:relative;
	top:-10px;
	cursor:pointer;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:4px 4px 0 0;
}
.dj_ie8 .appTabs li{
}
.dj_ie9 .appTabs li{
	box-shadow: 0px 2px 6px #CCCCCC inset, 0px 8px 15px #FFFFFF inset;
}
.appTabs li.selected, .appTabs li.selected:hover{
	border-bottom:0;
	top:-11px;
	border-color:#333;
	-moz-box-shadow: 1px 3px 1px #FFFFFF inset;
	box-shadow: 1px 3px 1px #FFFFFF inset;
	-webkit-box-shadow: #fff 0px 3px 3px inset;
}
.dj_ie8 .appTabs li.selected, .dj_ie8 .appTabs li.selected:hover{
}
.dj_ie9 .appTabs li.selected, .dj_ie9 .appTabs li.selected:hover{
	box-shadow:0 0 0 0;
}
.appTabs li:hover{
}
.dj_ie8 .appTabs li:hover{
}
.dj_ie9 .appTabs li:hover{
	box-shadow: 0px 1px 3px #CCCCCC inset, 0px 15px 15px #FFFFFF inset;
}
.showTabs #mainWrap{ top:5px; }
.showTabs .appTabs{ display:block; }
.hasTabs{ position:relative; top:50px; }
.appTabs{
	position:absolute;
	font-size:.9em;
	color:#424242;
	list-style:none;
	margin:0 10px;
	padding:0;
	width:100%;
	top:-27px;
	left:0px;
}
.appSubTabsContainer{
	border:0px solid #ff0000;
	height:100%;
	margin:2px 5px 5px 116px;
}
.appSubTabs, .appSubTabs li{ 
	margin:0;
	padding:0;
	list-style:none;
	display:block;
}
.appSubTabs{
	position:absolute;
	top:5px;
	left:-20px;
	border:1px solid #00ff00;
	z-index:5;
	width:130px;
	border:0px solid #0000ff;
	overflow:hidden;
	padding:10px 0;
	border-right:1px solid #ccc;
}
.appSubTabs li{
	background-repeat:no-repeat;
	background-position:4px 6px;
	background-color:#eee;
	background-image:url(../img/tabIcons.png);
	color:#424242;
	width:100px;
	height:32px;
	line-height:32px;
	margin:0 0 3px 18px;
	padding:5px 0 5px 38px;
	font-size:.9em;
	-moz-box-shadow: -1px 2px 2px rgba(0,0,0,.5);
	-webkit-box-shadow: -1px 2px 2px rgba(0,0,0,.5);
	box-shadow: -1px 2px 2px rgba(0,0,0,.2);
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
	cursor:pointer;
	border-style:solid;
	border-width:1px;
	border-color:#CCC #ccc #999 #666;
	border-right:0;
}
.dj_ie8 .appSubTabs li{
	border-style:solid;
	border-width:1px;
	border-color:#fff #ccc #666 #eee;
	border-right:0;
}
.appSubTabs li.selected,
.appSubTabs li.selected:hover{
	cursor:default;
	margin-left:13px;
	width:105px;
	background-color:#fff;
	-moz-box-shadow: -1px 2px 2px rgba(0,0,0,.5);
	-webkit-box-shadow: -1px 2px 2px rgba(0,0,0,.5);
	box-shadow: -1px 2px 2px rgba(0,0,0,.5);
}
.appSubTabs li:hover{
	background-color:#fff;
}
.dj_ie8 .appSubTabs li.selected, .dj_ie8 .appSubTabs li.selected:hover{}
.dj_ie9 .appSubTabs li.selected, .dj_ie9 .appSubTabs li.selected:hover{
	background-color:#fff;
}
.appErrorNotification{
	background:#ffff00;
	border:1px solid #FFBDBC;
	color:#ff0000;
	display:inline;
	position:absolute;
	right:15px;
	top:-45px;
}
.appErrorNotification a{
	display:block;
	margin:5px;
	border:1px solid #ff0000;
	width:150px;
	height:21px;
	line-height:21px;
	padding-left:5px;
	color:#ff0000;
	text-decoration:none;
}
.appErrorNotification a:hover{
	text-decoration:underline;
}
.appErrorNotificationClose{
	width:18px;
	height:21px;
	position:absolute;
	right:3px;
	top:5px;
	background-image:url(../img/arrows.png);
	background-repeat:no-repeat;
	background-position:-138px 1px;
	cursor:pointer;
}
.appErrorContent{
	width:320px;
	height:180px;
	color:#666;
	font-size:10px;
	overflow-x:hidden;
	overflow-y:auto;
}
.appShootErrorMsg{
	color:#dd0000;
	display:none;
}
fieldset.appShootError{
	border:1px solid #dd0000;
}
.appShootError .appShootErrorMsg{
	display:block;
}
.errorMessage{
	text-align:right;
	color:#E20000;
	padding-right:12px;
}
.error{
	color:#870000;
	background:#FFDDDD;
	padding:3px;
}
.successMessage{
	font-size:18px;
	text-align:right;
	color:#16BC07;
	padding-right:12px;
	text-decoration:underline;
	cursor:pointer;
}
.savedMessage{
	font-size:14px;
	text-align:right;
	color:#1433BC;
	padding-right:12px;
	cursor:pointer;
}
.iconFind, .iconPDF, .iconExcel, .iconFilter{
	width:16px;
	height:16px;
	background-repeat:no-repeat;
}
.iconFilter{
	background-image:url(../img/icons/16x16/filter.png);
}
.iconFind{
	background-image:url(../img/icons/16x16/find.png) ;
}
.iconPDF{
	background-image:url(../img/icons/16x16/pdf.png);
}
.iconExcel{
	background-image:url(../img/icons/16x16/calc.png);
}
.icon{
	background-repeat:no-repeat;
	background-image:url(../img/icons.png);
	display:block;
	margin:0 auto;
	cursor:pointer;
	position:relative;
}
.icon:hover{
	left:-1px;
	top:-1px;
}
.icon.dim{
	opacity:.2;
	filter: alpha(opacity = 20);
}
.icon.dim:hover{
	opacity:1;
	left:0px;
	top:0px;
	filter: alpha(opacity = 100);
}
.s16{
	width:16px;
	height:16px;
}
.icon.s16.checked{
	background-position:0px 0px;
}
.icon.s16.missing{
	background-position:-16px 0px;
}
.icon.s16.remove{
	background-position:-32px 0px;
}
.icon.s16.print{
	background-position:-48px 0px;
	width:18px;
}
.icon.s16.close{
	background-position:-82px 2px;
}
.icon.s16.edit{
	background-position:-96px 0px;
}
.icon.s16.info{
	background-position:-65px 0px;
}
.icon.s16.write{
	background-position:-112px 0px;
}
.icon.s16.unlock{
	background-position:-159px 0px;
}
.icon.s16.destroy{
	background-position:-144px 0px;
}
.icon.s16.shutdown{
	background-position:-175px 0px;
}
.icon.s16.startup{
	background-position:-225px 0px;
}
.icon.s16.identity{
	background-position:-192px 0px;
}
.icon.s16.system{
	background-position:-208px 0px;
}
.icon.s16.blank{
	background-position:-500px 0px;
	width:18px;
}
.ptr{
	cursor:pointer;
}
.gradLightBlue{
	background: -moz-linear-gradient(top, #edf2f7 0%, #d3e1eb 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E8E8E8));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FFFFFFFF, endColorstr=#FFE8E8E8);
}
.gradDkBlue{
	background-color:#225BB7;
	background: -moz-linear-gradient(top, #d3e1eb 0%, #A8D0ED 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d3e1eb), to(#A8D0ED));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FFd3e1eb, endColorstr=#FFA8D0ED);
	color:#fff;
}
.gradLightBlue, .gradLightBlue a{
	color:#333;
}
.gradLtGray{
	background: -moz-linear-gradient(top, #CEDDE5 0%, #F2FAFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E8E8E8));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FFFFFFFF, endColorstr=#FFE8E8E8);
}
.gradDkGrayInset{
	background: #999999;
	-moz-box-shadow: 5px 5px 5px #565656 inset;
	-webkit-box-shadow: #565656 5px 5px 5px inset;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #494949), color-stop(0.15, #999999));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#FF494949, endColorstr=#FF999999);
}
.gradLtBlue{
	background-color:#71B4D6;
	background: -moz-linear-gradient(top, #EAFBFF 0%, #71B4D6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EAFBFF), to(#71B4D6));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#ffEAFBFF, endColorstr=#ff71B4D6);
	color:#2F45B5;
}
.gradRealDarkBlue{
	background-color:#225BB7;
	background: -moz-linear-gradient(top, #76B5FC 0%, #225BB7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76B5FC), to(#225BB7));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#ff76B5FC3, endColorstr=#ff225BB7);
	-moz-box-shadow: 0px 1px 0px #3D7BFF inset;
	-webkit-box-shadow: #3D7BFF 0px 1px 0px inset;
	color:#fff;
}
.shd5{
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	-webkit-box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
}
.shd3{
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: rgba(0,0,0,.5) 3px 3px 3px;
}
.shd3.dijitActive{
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: rgba(0,0,0,.5) 1px 1px 1px;
}
.shd3.dijitDisabled{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.rnd5{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.rnd10{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.shd10{
	-moz-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	-webkit-box-shadow: rgba(0,0,0,.5) 10px 10px 10px;
}
.textGlow{
	text-shadow:1px 1px 3px #fff;
}
.fontSmall{
	font-size:.6em;
}
.fontMed{
	font-size:.8em;
	color:#666666;
}
.fontLarge{
	font-size:1.2em;
}
.feauxGrad{
	position:absolute !important;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#ff0000;
	border-top:6px #81A6E2 solid;
	background: -moz-linear-gradient(top, #225BB7 0%, #76B5FC 100%);
}
.medButton{
	font-size:.8em;
}
.claro .pinkButton.dijitButton .dijitButtonNode{
	background-color:#FFD3D3;
}
.claro .pinkButton.dijitButton.dijitButtonHover .dijitButtonNode{
	background-color:#FFA0A0;
}
.claro .greenButton.dijitButton .dijitButtonNode{
	background-color:#D3FFD6;
}
.claro .greenButton.dijitButton.dijitButtonHover .dijitButtonNode{
	background-color:#A0FFA6;
}
.b115 .dijitButtonNode{
	width:115px;
}
.tCenter{
	text-align:center;
}
.tRight{
	position:relative;
	text-align:right;
}
.absRight{
	position:absolute;
	right:5px;
	top:5px;
	margin:0;
}
.fltRight{
	display:block;
	float:right;
}
.fltLeft{
	display:block;
	float:left;
}
.padLeft{
	padding-left:20px;
}
.padRight{
	padding-right:20px;
}
.marRight{
	margin-right:20px;
}
.marTop:{
	margin-top:20px;
}
.absLeft{
	position:absolute;
	left:5px;
	top:5px;
}
.absRightBottom{
	position:absolute;
	right:5px;
	bottom:5px;
}
.btnRow{
	margin:20px 0 10px 0;
	position:relative;
	text-align:right;
}
.appAccordionWrap{
	border:1px solid #ccc;
	margin:0px auto;
}
.appAccordionBar{
	height:21px;
	line-height:21px;
	font-size:.9em;
	cursor:pointer;
}
.appAccordionBarArrow{
	background-image:url(../img/arrows.png);
	background-repeat:no-repeat;
	background-position:-304px -2px;
	display:inline-block;
	width:20px;
	height:24px;
	vertical-align:top;
	cursor:pointer;
}
.appAccordionBarArrow:hover{
	background-position:-342px -2px;
}
.appClosed .appAccordionBarArrow{
	background-position:-286px -2px;
}
.appClosed .appAccordionBarArrow:hover{
	background-position:-324px -2px;
}
.appAccordionBar div{
	display:inline-block;
	vertical-align:top;
	padding-left:7px;
	color:#51616D;
}
.appAccordionPane{
	padding:3px;
	border:1px solid #75C5FF;
	background-color:#d3e1eb;
	-moz-box-shadow: inset 0px 3px 11px 0px rgba(255,255,255,1);
	-webkit-box-shadow: inset 0px 3px 11px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 3px 11px 0px rgba(255,255,255,1);
}
.appAccordionContainer{
	background:#FFFFFF;
	border:1px solid #75C5FF;
	padding:3px;
	overflow:auto;
}
.appTextEditorSection{
	margin-bottom:15px;
	border:1px #ccc solid;
	padding:5px;
	background:#eee;
}
.appTextEditorSection.invalid{
	border:1px #ff0000 solid;
}
.appTextEditorSection .errorMessage{
	display:none;
}
.appTextEditorSection.invalid .errorMessage{
	display:block;
}
.appTextEditorRow{
	position:relative;
	height:24px;
	margin-top:-10px;
}
.appTextEditorRow span{
	font-size:11px;
	color:#666;
	padding:0 2px;
}
.appTextEditorTitle{
	font-size:16px;
	color:#666;
	font-style:italic;
	margin-bottom:5px;
}
.appTextEditorTitle span{
}
.appTextEditorSection ul{
	margin:5px 10px;
	padding:0;
}
.appTextEditorSection li{
	padding:0;
	margin:3px 15px;
}
.appTextEditorSection .readOnly{
	margin-left:10px;
}
.appTextEditorSection .readOnly,
.appTextEditorSection ul{
	font-size:12px;
}
.appTextEditorSection textarea{
	padding:3px;
	width:622px;
	font-family:Arial, sans-serif;
	border:0;
	background:#fff;
}
.appTextEditorSection textarea:hover{
	background:#E5FCFF;
}
.appTextEditorSection textarea.focused:hover{
	background:#fff;
}
.appFieldPlaceholder{
	color:#999;
	font-style:italic;
}
.appPreviewVtour{
	width:656px;
}
#player, .bvPlayerVtour{
	width:640px;
	height:300px;
	background:#eee;
}
.appVtourList{
}
.appVtourList table{
	width:100%;
}
.appVtourList table tr{
}
.appVtourRow{
	position:relative;
	height:90px;
	background:#D3DEE5;
	padding:5px;
}
.appVtourDescThumbContainer{
	width:120px;
	height:90px;
	border:1px solid #ccc;
	position:absolute;
	left:5px;
	top:5px;
	overflow:hidden;
}
.appVtourThumbContainer{
	width:120px;
	height:90px;
	border:1px solid #ccc;
	overflow:hidden;
	float:left;
	margin:0px 5px 5px 0px;
	border:1px solid transparent;
	cursor:pointer;
}
.appVtourThumbContainer:hover{
	border:1px solid #75C5FF;
}
.appVtourDescContainer{
	margin:0px 0px 0px 130px;
}
.appVtourImagename, .appVtourDesc{
	border:1px solid transparent;
	padding:3px;
	cursor:pointer;
}
.appVtourImagename:hover, .appVtourDesc:hover{
	border:1px solid #666;
}
.appVtourInput{
	font-size:1em;
	width:150px;;
	background:none;
	border:0;
}
.appVtourButtonRow{
	position:absolute;
	bottom:6px;
	right:3px;
	width:450px;
	height:26px;
	text-align:right;
}
.appVtourButton{
	width:26px;
	height:26px;
	margin-left:0px;
	display:inline-block;
	border:1px solid #666;
	border-color:#fff #ccc #999 #eee;
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
	background-color:#eee;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
}
.appVtourButton:hover{
	background-color:#B5E3FF;
}
.appVtourButton:active{
	background-color:#B5E3FF;
	border-color:#999 #eee #fff #ccc;
}
.appVtourButton.preview{
	background-position:-91px -20px;
}
.appVtourButton.upload{
	background-position:-116px -20px;
}
.appVtourContent{
	overflow:auto;
}
.appTipListingId{
	font-size:12px;
	font-weight:bold;
	white-space:nowrap;
	padding-right:7px;
}
.appTipPropertyName{
	font-size:12px;
	white-space:nowrap;
}
.absMenuLeft{
	position:absolute;
	z-index:10;
}
.absMenuCenter{
	position:absolute;
	top:5px;
	width:100%;
	text-align:center;
	z-index:1;
}
.subMenu{
	height:55px;
}
.subMenuLeft{
	float:left;
}
.subMenuRight{
	position:absolute;
	right:9px;
	top:5px;
	z-index:10;
}
.subMenuRight div{
	text-align:right;
}
.subMenuReports{
	display:inline-block;
	border:1px solid #ccc;
	padding:3px;
}
.appUnderlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	z-index:999;
}
.appLoginDialog{
	width:400px;
	margin-left:-200px;
	margin-top:-115px;
	background:#eee url(../img/BVLogoHeader.png) no-repeat center 10px;
	position:absolute;
	left:50%;
	top:50%;
	z-index:1000;
}
.appLoginContainer{
	width:320px;
	margin:70px auto 10px auto;
}
.appLoginContainer label{
	display:inline-block;
	width:100px;
	margin-bottom:10px;
}
.appLoginContainer p{
	text-align:center;
}
.appLoginContainer a{
	font-size:.8em;
}
